<div class="row">
  <div class="col-md-6">
    <h3>12-Feb-2024 - Day 1  </h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td> 9:00</td>  <td>Welcome, introduction, logistics </td> </tr>
      <tr> <td> 9:30</td>  <td><b>Bash:</b> Session 1 of 3 </td> </tr>
      <tr> <td>10:15</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td><b>Bash:</b> Session 2 of 3 </td> </tr>
      <tr> <td>11:00</td>  <td><b>Bash:</b> Session 3 of 3 </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data.html"> <b>R:</b> Analyzing Patient Data  </a> </td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-inflammation/02-func-R.html"> <b>R:</b> Creating Functions </a> </td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-inflammation/03-loops-R.html"> <b>R:</b> Analyzing Multiple Data Sets </a> </td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>13-Feb-2024 - Day 2</h3>
    <table class="table table-striped">
      <tr> <td> 9:00</td>  <td>Welcome, introduction, logistics </td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-inflammation/04-cond.html"> <b>R:</b> Making choices </a> </td> </tr>
      <tr> <td>10:15</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-inflammation/05-cmdline.html"> <b>R:</b> Command-Line Programs  </a> </td> </tr>
      <tr> <td>11:15</td>  <td><b>Git:</b> Session 1 of 3 </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><b>Git:</b> Session 2 of 3 </td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td><b>Git:</b> Session 3 of 3 </td> </tr>
      <tr> <td>16:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>






